@font-face {
    font-family: 'AvenirBlack';
    src: url('../fonts/AvenirBlack/AvenirBlack.ttf') format('truetype');
    /* Add additional src declarations for other font file formats if available */
    font-weight: normal;
    font-style: normal;
  }